<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="FileSplitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="FileSplitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
  <FileSplitter.Properties.Settings>
   <setting name="typeIndex" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="itemsNumber" serializeAs="String">
    <value>10</value>
   </setting>
  </FileSplitter.Properties.Settings>
 </userSettings>
 <applicationSettings>
  <FileSplitter.Properties.Settings>
   <setting name="test" serializeAs="String">
    <value/>
   </setting>
  </FileSplitter.Properties.Settings>
 </applicationSettings>
</configuration>
